.main-bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-bg-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  height: 70%;
  width: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.sub-heading {
  color: #334155;
  font-size: 20px;
}
.button {
  background-color: #ffffff;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.description {
  color: #1e293b;
  font-size: 10px;
}
